

body{                     /*texto*/
	font-family: arial;
	background: url("brasilitlogo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-size: 100%;
	margin: 0px;

}
ul{
	list-style: none;
	display:;
}

.li-p{
	line-height: 10px;
}

.ulsubestacao{
	display: block;
}
.ul-principal{
	display: block;
}


.li.c{
	font-weight: bold;
}

nav{            /*BLOCO CINZA*/
	background-color: rgba(16,16,16,.5);
	width: 390px;
	height: 500%;
	transition: 0.3s ease;
}

a{         /*TODAS OPÇOES*/
	display: block;
	padding: 15px 0px;
	color: white;
	text-decoration: none;
}


a:hover{        /* PASSAR MOUSE POR CIMA*/

	background-color: rgb(176,224,230);
	color: black ;
}


ul li ul li{       /*SUB OPÇOES*/
	
	display: block;
	background: rgba(255,255,255,0.1);
	left: 149px;
}

